
table{
    margin-top: 10%;
}


.tabela th {

    
    margin-left: 35%;
    height: 50px;
    width: 5%;
    margin-bottom: 5%;
}

.titulo td{

    font-size:30pt;
    border: 3px solid rgb(3, 61, 23);
    text-align: center;
    background: rgb(0, 5, 0);
    color: rgb(180, 235, 198)

    

    


}

.topico{
    margin-top: 10%;
    background: rgb(18, 65, 3);
    font-size: 20pt;
    color: aliceblue;
}

.coluna1 td{

    
    margin-left: 50%;
    border: 3px solid rgb(30, 110, 20);
    background: rgb(201, 245, 186);

    font-size: 18pt;
    color: rgb(0, 0, 0);
    
}

.coluna2 td{

    
    margin-left: 50%;
    border: 3px solid rgb(30, 110, 20);
    background: rgb(37, 134, 4);

    font-size: 18pt;
    color: rgb(253, 253, 253);
    
}


@media (max-width: px){


}